* {
  box-sizing: border-box;
}

:root {
  --dark: #461959; /* Blue */
  --mid: #7a316f; /* Gray */
  --light: #445069; /* Pink */
}

body {
  background-color: var(--light);
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

a:hover {
  color: #4fee00; /* New color when hovering */
  text-decoration: underline; /* Add underline when hovering */
}
a.author {
  color: #f2d8d8;
}

img {
  max-width: 100%;
  border-radius: 20px;
}
.index_image {
  transition: box-shadow 0.3s ease-in-out; /* Add smooth transition */
}

.index_image:hover {
  box-shadow: 0px 5px 10px rgba(121, 246, 4, 0.5); /* Increased opacity for a brighter shadow */
}

main {
  padding: 10px;
  margin: 0 auto;
  max-width: 960px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s; /* Smooth transition for color change */
  color: inherit;
  margin-bottom: 15px;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

.post {
  display: grid;
  /* grid-template-columns: 0.9fr 1.1fr; */
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.post .texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post p.info {
  display: flex;
  margin: 6px;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  gap: 10px;
}

div.post p.info a.author {
  color: #333;
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.2rem;
}

.post .texts a {
  text-decoration: none;
  color: inherit;
}

form.login h1,
form.register h1 {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 5px 7px;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0px;
}

h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  border-radius: 20px;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0px 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: var(--mid);
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  display: inline-flex;
  background-color: #333;
  color: #fff;
  gap: 5px;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: node;
}

a svg {
  height: 20px;
}

/* components/Footer.css */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}
